body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    height: 100vh;
}

.header {
    max-height: 5rem;
    min-height: 5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    -webkit-box-shadow: 0 1px 2px 0 rgba(41,41,41,.25);
    -moz-box-shadow: 0 1px 2px 0 rgba(41,41,41,.25);
    box-shadow: 0 1px 2px 0 rgba(41,41,41,.25);
    z-index: 10;
}

.header__logo {
    height: 3rem;
    padding: 0 3rem;
}

.header__divider {
    border-left: 0.3rem solid rgba(247, 248, 249, 0.8);
    height: 3rem;
}

.header__search {
    outline: none;
    border: none;
    margin-left: 2rem;
    color: rgb(209, 209, 211);
    font-size: 1.2rem;
    background-image: url("assets/search.svg");
    background-repeat: no-repeat;
    padding: 0.3rem 2.5rem;
    background-size: 1.5rem;
}

.header__search::placeholder {
    color: rgb(209, 209, 211);
    opacity: 1; /* For Firefox */
}

.header__search-icon {
    display: none;
}

.header__username {
    vertical-align: middle;
    font-size: 1.2rem;
    padding-left: 1rem;
}

.header__avatar {
    margin-left: auto;
    padding-right: 2rem;
}

.main {
    background-color: #f7f8f9;
    flex-grow: 1;
    padding: 2rem;
}

.main__container {
    margin: 0 auto;
    max-width: 80rem;
    flex-wrap: wrap;
    display: flex;
}

.column {
    flex: 1;
    min-width: 10rem;
    padding: 1.5rem;
}

.column__title {
    font-size: 1.8rem;
    color: #191d3a;
    margin-top: 0;
}

.card {
    background-color: #fff;
    padding: 1rem;
    margin-top: 1.5rem;
}

.card__title {
    font-size: 1.2rem;
    margin-top: 0;
    color: #5d6072;
}

.card__content {
    font-size: 1rem;
    color: #aeafb8;
    font-weight: 200;
    line-height: 1.6;
}

.card__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card__footer > p {
    margin-top: 0;
    margin-bottom: 0;
}

.avatar {
    align-items: center;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    text-align: center;
    vertical-align: middle;
    height: 2rem;
    width: 2rem;
    min-width: 2rem;
    font-size: 0.8rem;
}

.avatar__img {
    border-radius: inherit;
    width: inherit;
}

.avatar--purple {
    background-color: #b347f2;
}

.avatar--mauve {
    background-color: #8961f6;
}

.avatar--turquoise {
    background-color: #67cbf6;
}

.avatar--blue {
    background-color: #4f91f3;
}

.text--gray {
    color: #aeafb8;
}

.text--dark-gray {
    color: #5d6072;
}

.text--mauve {
    color: #8961f6;
}

.text--red {
    color: #da1f28;
}

.text--white {
    color: #fff;
}

.text--green {
    color: #86d98a;
}

/* On low resolution tablets and on mobiles */
@media only screen and (max-width: 767px) {
    .header__username {
        display: none;
    }

    .header__search {
        display: none;
    }

    .header__divider {
        display: none;
    }

    .header__search-icon {
        display: inline;
        width: 1.5rem;
        vertical-align: middle;
        padding-right: 1rem;
    }

    .header__logo {
        padding-left: 2rem; /* To have the same padding-right as the avatar */
    }
}
